<div class="span11">
	<div class="span6">
		<form id="markdownForm" class="form-horizontal">
			<div class="control-group">
				 <div class="controls">
		            <label class="hide" for="title">Title</label>
		            <input type="text" class="input-large" placeholder="Title" id="title">
	        	</div>
	        </div>
	        <div class="control-group">
				 <div class="controls">
		            <label class="hide" for="tag">Tags</label>
		            <input type="text" class="input-large" placeholder="Tags" id="tag">
	        	</div>
	        </div>
	        <div id="markdownTextarea" class="control-group">
	        	<div class="controls">
	        		 <label class="hide" for="text-input">Title</label>
					<textarea id="text-input"></textarea>
				</div>
			</div>
		<form>
	</div>
	<div class="span5" id="preview"> </div>
</div>