
@import "../../bower_components/bootstrap/less/bootstrap.less";

@media (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		padding-top: 60px;
	}
	#sidePanel {
		width: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
	}
	label {
		display: none;
	}
	#markdown-form {
		padding: 0 10px 0 10px;
	}
	.left-arrow {
		position: fixed;
		width:15px;
		height:50px;
		border: 1px solid #ff0000;
		top: 50%;
		left: 0;
	}
}