 <div class="row">
 	 
 	<div id="sidePanel" class="col-lg-3 col-9">
 		<p>this is the side panel</p>
 		<tags></tags>
 	</div>
 	<div id="markdown" class="col-lg-5 col-12">
 		<div class="left-arrow" expand="sidePanel" expand-direction="left">
 			<i class="icon-chevron-sign-right icon-2x"></i>
 		</div>
 		<div class="right-arrow" expand="preview" expand-direction="right">
 			<i class="icon-chevron-sign-left icon-2x"></i>
 		</div>
 		<form id="markdown-form">
 			<fieldset>
 				<div class="form-group">
 					<label for="title">Title</label>
 					<input type="text" class="form-control" id="title" placeholder="Title">
 				</div>
 				<div class="form-group">
 					<label for="tags">Tags</label>
 					<input type="text" class="form-control" id="tags" placeholder="Tags">
 				</div>
 				<div class="form-group">
 					<label for="markdown-text">Markdown</label>
 					<textarea class="form-control" id="markdown-text" placeholder="Markdown"></textarea>
 				</div>
 			</fieldset>
 		</form>
 	</div>
 	<div id="preview" class="col-lg-4 col-9">
 		<p> this is a preview panel</p>
 	</div>
</div>